html {
  font-family: 'VT323', monospace;
}

body {
  background: url(img/1719750.png) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 60px;
  color: aliceblue;
  margin-top: 50px;
}

p {
  color: white;
  font-size: 30px;
  margin: 20px 100px;
}

button {
  font-size: 30px;
  padding: 10px 20px;
  border: solid 4px;
  margin-top: 40px;
}

button:hover {
  outline: 4px #04e600 solid;
}

input {
  line-height: 50px;
  border: solid 4px;
  width: 400px;
  font-size: 30px;
}

input:focus {
  outline: 4px #04e600 solid;
}

.gamer-name {
  margin: 30px 0 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 1000px;
}

.container {
  margin: 40px 0 150px;
  width: 800px;
  min-height: 600px;
  border: 1px solid black;

  background: #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.name {
  color: #04e600;
}

.btn-area {
  display: none;
}

.status-area {
  display: flex;
  justify-content: center;
  margin: 0 100px;
}

.status-area p {
  margin: 25px;
}

.day-counter-area {
  position: absolute;
  bottom: 10px;
  left: 0;
  display: none;
}

.green {
  color: #04e600;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

@media (max-width: 850px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 600px) {
  h1 {
    margin: 20px 20px 0 20px;
    text-align: center;
  }

  p {
    margin: 0 20px;
  }

  .container {
    width: 100%;
  }

  .gamer-name {
    width: 80%;
  }

  .status-area {
    max-width: 100%;
    flex-direction: column;
  }

  .status-area p {
    margin: 10px;
  }

  .day-counter-area {
    bottom: 20px;
  }

  .rules {
    margin-bottom: 20px;
  }
}
